<!DOCTYPE html>
<html lang="zh-Tw">


<head>
    <meta charset="UTF-8">
    <title>Home page</title>
<div class="jumbotron text-center" style="margin-bottom:0">
  <h1><b><font face="微軟正黑體">粵語複數詞綴</h1></font></b>
  <font face="monospace">Cantonese plurality affixes</font>
</div>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<div class="container">
 <div class="row">

     <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>

      </button>
      <a class="navbar-brand" href="/home">首頁 Home page </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href='/questionnaire'>Questionnaire</a></li>
        <li><a href="/search">Search </a></li>
        <li><a href="/example">statistical analysis</a></li>
          <li><a href="/result">Result</a></li>

      </ul>
    </div>
  </div>
</nav>
     <div class="container">
  <div class="row">
    <div class="col-sm-4">
        <h2><p>關於我 About me</p> </h2>
        <div class="container">
  <div class="row">
      <h10><p>我是莫斯科高等經濟大學“語言理論與語言描述系”的研究生</p></h10>
  </div>
        </div>
        <div class="container">
  <div class="row">
      <h10><p>I am currently doing my Master's program at Higher School of Economics in the field of Linguistics Theory and Language Description</p></h10>
  </div>
        </div>

        <div class="container">
  <div class="row">
      <h3><p>鏈接 Links</p></h3>
  </div>
        </div>

           <div class="'row">
               <div class="container">
        <li><a href="/manda">漢語複數尾綴 Mandarin plural suffix</a></li>
           </div>
           </div>
          <div class="'row">
               <div class="container">
        <li><a href="/canto">粵語語複數詞綴 Cantonese plural affixes</a></li>
               </div>
          </div>

      <hr class="hidden-sm hidden-md hidden-lg">
    </div>
    <div class="col-sm-8">
      <h2>粵語尾綴調查</h2>
      <h5>Cantonese plurality affixes questionnaire </h5>

您好,我正探討“台語，粵語，國語的差異”,將耽誤您 5－10分鐘填寫以下表單,謝謝您！
        <p>My paper topic are linguistic differences between Taiwanese, Cantonese and Mandarin. It will only take you 5－10 minutes approximately to finish this simple questionnaire. Thank you in advance for your help!</p>
        <p>請按「START」按鈕!</p>
        <p> Please click the below START button to start the questionnaire. </p>

<p>
        <a href="/question" class="btn btn-danger btn-lg" role="button">START</a>

</p>

    </div>
  </div>
</div>
 </div>
</div>
<div class="jumbotron text-center" style="margin-bottom:0">
  <h5><b><p>Content </p></b></h5>
    <div><h10>Ottilie Kan </h10></div>
    <div><h10>Email: ottiliekan@mail.ru</h10></div>
    <div><h10>Phone: +71234567888</h10></div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>