<p>3. Police officers attacked firefighter.</p>
    <input type="radio" name="q3" value="yes" ngModel>啲警察打啲消防員。<br>
    <input type="radio" name="q3" value="no"ngModel>警察打消防員<br>
    </form>
    <form>
    <p>4. I Scientists are concerned about the progress of the experiment..</p>
    <input type="radio" name="q4" value="yes" ngModel>啲科學家對實驗嘅進展感到擔憂。<br>
    <input type="radio" name="q4" value="no"ngModel>科學家對實驗嘅進展感到擔憂<br>
    </form>
    <form>
    <p>5. They are doctors..</p>
    <input type="radio" name="q5" value="yes" ngModel>佢哋係啲醫生。<br>
    <input type="radio" name="q5" value="no"ngModel>佢哋係醫生。<br>
    </form>
    <form>
    <p>6. Teachers and students went to the zoo..</p>
    <input type="radio" name="q6" value="yes" ngModel>啲老師同同學去咗動物園。<br>
    <input type="radio" name="q6" value="no" ngModel>老師同同學去咗動物園。<br>
    </form>